astroid==2.4.2
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.11.8
cffi==1.14.5
chardet==3.0.4
click==7.1.2
colorama==0.4.4
coloredlogs==15.0
cryptography==3.4.6
ghostscript==0.7
humanfriendly==9.1
idna==2.10
img2pdf==0.4.0
isort==5.6.4
lazy-object-proxy==1.4.3
lxml==4.6.1
mccabe==0.6.1
numpy==1.19.4
ocrmypdf==11.7.1
pandas==1.1.4
pdfminer.six==20201018
pikepdf==2.8.0.post1
Pillow==8.1.2
pluggy==0.13.1
pycparser==2.20
pylint==2.6.0
PyQt5==5.15.1
pyqt5-plugins==5.15.1.1
PyQt5-sip==12.8.1
pyqt5-tools==5.15.1.2
pyreadline==2.1
python-dateutil==2.8.1
python-dotenv==0.15.0
pytz==2020.4
qt5-applications==5.15.1.1
reportlab==3.5.63
requests==2.25.0
selenium==3.141.0
six==1.15.0
sortedcontainers==2.3.0
soupsieve==2.0.1
toml==0.10.2
tqdm==4.59.0
urllib3==1.26.2
wrapt==1.12.1
